<!DOCTYPE html>
<html>
<?php include 'contact-list.php';?>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Brands.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/angular-script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ionic/1.3.2/js/ionic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/script.js"></script>
</head>

<body class="text-center">
<div class="brands"><i class="icon ion-android-textsms" style="font-size:70px;color:#1E90FF;"></i>
    <h2 style="color:rgb(244,71,107);margin-bottom:20px;">SMS Web App</h2>
</div>
<div class="text-center" style="height:500px;" ng-app="myNoteApp" ng-controller="myNoteCtrl"><textarea rows="8" cols="50" style="margin-top:20px;width:400px;" ng-model="message"></textarea>
    <div style="margin-top:20px;"><button class="btn btn-primary" type="button" id="btn-rounded"><i class="icon ion-android-add"></i></button><button class="btn btn-primary btn-success" type="button" style="margin-left:30px;" ng-click="send()">Send</button><button class="btn btn-primary"
                                                                                                                                                                                                                                                                         type="button" style="margin-left:20px;" ng-click="clear()">Clear</button></div>
    <select id="contact-list" style="margin-top:20px;">
        <optgroup label="This is a group">
            <option value="12" selected="">This is item 1</option>
            <option value="13">This is item 2</option>
            <option value="14">This is item 3</option>
        </optgroup>
    </select>
    <p
            style="margin-top:20px;">No: of characters left: <span ng-bind="left()"></span>/<span ng-bind="count()"></span></p>
    <script>
        var app = angular.module("myNoteApp", []);
        app.controller("myNoteCtrl", function($scope) {
            $scope.message = "";
            $scope.i=1;
            $scope.balance=100;
            $scope.left = function () {
                return $scope.message.length;
            };
            function count_char_inc() {
                if ($scope.message.length >= 16 * $scope.i) {
                    $scope.i = $scope.i + 1;
                }
                if($scope.message.length<16*$scope.i)
                {
                    $scope.i=$scope.i-1;
                }
                return $scope.i;
            }
            $scope.count=function(){
                return count_char_inc();
            };
            $scope.clear = function() {
                $scope.message = "";
            };
            $scope.send = function() {
                alert("Balance remaining"+" "+$scope.note()+"\n"+"sms charge:"+""+$scope.remain());
            };
            $scope.remain =function () {
                return 2* $scope.message.length ;
            };
            $scope.note =function () {

                $scope.balance-=(2*$scope.message.length);
                if($scope.balance<=0){
                    alert("Low Balance");
                }

                return $scope.balance;
            };
        });
    </script>
</div>

</body>

</html>